.tabBox--type01 {
  background-color: #fff;
  display: block;
}
.tabBox--type01 > label {
  width: calc(100% / 3);
  font-size: 1.1em;
  padding: 1em 0.5em;
  text-align: center;
  color: #565656;
  background: #ddd;
  border-right: #ccc solid 0.5px;
  border-left: #fff solid 0.5px;
  border-radius: 0.3em 0.3em 0 0;
  float: left;
  transition: all 0.5s ease;
  cursor: pointer;
  display: block;
}
.tabBox--type01 > label:hover {
  opacity: 0.5;
}
.tabBox--type01 > input[type="radio"] {
  display: none;
}
.tabBox--type01 .tab__content {
  clear: both;
  overflow: hidden;
  padding: 1em 2em;
  border: #808080 solid 1px;
  border-top: #000 solid 3px;
  transition: 0.4s;
  display: none;
}
.tabBox--type01 input:nth-of-type(1):checked ~ .tab__content:nth-of-type(1),
.tabBox--type01 input:nth-of-type(2):checked ~ .tab__content:nth-of-type(2),
.tabBox--type01 input:nth-of-type(3):checked ~ .tab__content:nth-of-type(3) {
  display: block;
  animation-name: tab--type01--fade;
  animation-duration: 1s;
}
.tabBox--type01 > input:checked + label {
  background-color: #000;
  color: #fff;
  pointer-events: none;
}
.tabBox--type01 > input:checked + label:hover {
  opacity: 1;
}
@keyframes tab--type01--fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
