.accordionBox--type01 {
  border-radius: 0.5em;
  overflow: hidden;
  border: #000 solid 1px;
}
.accordionBox--type01 .accordion + .accordion {
  border-top: #000 solid 1px;
}
.accordionBox--type01 .accordion > label {
  display: block;
  padding: 0.9em 1em;
  color: #000;
  background: #fff;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}
.accordionBox--type01 .accordion > label::after {
  content: "";
  width: 0.8em;
  height: 0.8em;
  display: block;
  border-right: #000 solid 0.2em;
  border-bottom: #000 solid 0.2em;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 1.4em;
  margin-top: -0.4em;
  transition: all 0.5s;
}
.accordionBox--type01 .accordion > label:hover {
  background: #ddd;
}
.accordionBox--type01 .accordion > input[type="checkbox"] {
  display: none;
}
.accordionBox--type01 .accordion > .accordion__content {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}
.accordionBox--type01
  .accordion
  > input[type="checkbox"]:checked
  + label
  + .accordion__content {
  height: auto;
  padding: 0.5em 1em;
  opacity: 1;
}
.accordionBox--type01 .accordion > input[type="checkbox"]:checked + label {
  background: #ddd;
}
.accordionBox--type01
  .accordion
  > input[type="checkbox"]:checked
  + label::after {
  transform: scale(1, -1) rotate(45deg);
}

.accordionBox--type02 {
  overflow: hidden;
}

.accordionBox--type02 .accordion > label {
  display: block;
  padding: 0.9em 1em 0.9em 3em;
  color: #fff;
  background: #666;
  cursor: pointer;
  transition: 0.3s all ease;
  position: relative;
}
.accordionBox--type02 .accordion > label::after {
  content: "";
  width: 0.8em;
  height: 0.8em;
  display: block;
  background: url("/img/icon/plus-circle.svg") no-repeat center center;
  background-size: 100% auto;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%);
  position: absolute;
  top: 50%;
  left: 1.4em;
  margin-top: -0.4em;
  transition: all 0.5s;
}
.accordionBox--type02 .accordion > label:hover {
  background: #888;
}
.accordionBox--type02 .accordion:nth-child(even) label {
  background: #444;
}
.accordionBox--type02 .accordion:nth-child(even) label:hover {
  background: #888;
}
.accordionBox--type02 .accordion > input[type="checkbox"] {
  display: none;
}
.accordionBox--type02
  .accordion
  > input[type="checkbox"]
  + label
  + .accordion__content {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}
.accordionBox--type02
  .accordion
  > input[type="checkbox"]:checked
  + label
  + .accordion__content {
  height: auto;
  padding: 0.5em 1em;
  opacity: 1;
}
.accordionBox--type02 .accordion > input[type="checkbox"]:checked + label {
  background: #ddd;
  color: #000;
}
.accordionBox--type02
  .accordion
  > input[type="checkbox"]:checked
  + label:hover {
  background: #ccc;
}
.accordionBox--type02
  .accordion
  > input[type="checkbox"]:checked
  + label::after {
  background: url("/img/icon/minus-circle.svg") no-repeat center center;
  background-size: 100% auto;
}

.accordionBox--type03 {
  overflow: hidden;
}
.accordionBox--type03 .accordion > label {
  display: block;
  padding: 1em 5em 1em 3em;
  background: #fff;
  cursor: pointer;
  transition: 0.3s all ease;
  border-radius: 3.7em;
  position: relative;
  box-shadow: 0px 0px 0.5em rgba(0, 0, 0, 0.2);
  margin: 0.5em;
}
.accordionBox--type03 .accordion > label:hover {
  background: #efefef;
}
.accordionBox--type03 .accordion > label .accordion__icon {
  width: 1em;
  height: 2px;
  display: block;
  position: absolute;
  right: 2em;
  top: 50%;
  margin-top: -1px;
}
.accordionBox--type03 .accordion > label .accordion__icon > div {
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s ease;
}
.accordionBox--type03 .accordion > label .accordion__icon > div:last-child {
  transform: rotate(90deg);
}
.accordionBox--type03 .accordion > input[type="checkbox"] {
  display: none;
}
.accordionBox--type03 .accordion > .accordion__content {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}
.accordionBox--type03
  .accordion
  > input[type="checkbox"]:checked
  + label
  + .accordion__content {
  height: auto;
  padding: 0.5em 1em;
  opacity: 1;
}
.accordionBox--type03 .accordion > input[type="checkbox"]:checked + label {
  background: #ddd;
  color: #000;
}
.accordionBox--type03
  .accordion
  > input[type="checkbox"]:checked
  + label:hover {
  background: #ddd;
  color: #000;
}
.accordionBox--type03
  .accordion
  > input[type="checkbox"]:checked
  + label
  .accordion__icon
  div:last-child {
  transform: none;
}
