.simpleButton {
  text-align: center;
  margin-bottom: 1.5em;
}
.simpleButton > small {
  display: block;
  margin-bottom: 0.5em;
}

.type001 a {
  color: #000;
  background: #fff;
  border: #000 solid 1px;
  display: inline-block;
  position: relative;
  padding: 0.6em 2.8em 0.6em 1.5em;
  position: relative;
  line-height: 1.4;
  transition: 0.3s all ease;
}
.type001 a::after {
  content: "";
  display: block;
  width: 0.8em;
  height: 0.8em;
  background: url("/img/icon/arrow-circle-right.svg") no-repeat center center;
  background-size: 100% auto;
  position: absolute;
  top: 50%;
  right: 1.4em;
  margin-top: -0.4em;
  transition: all 0.5s;
}
.type001 a:hover {
  color: #000;
  background: rgba(0, 0, 0, 0.1);
  border: rgba(0, 0, 0, 0.3) solid 1px;
}
.type001 a:hover::after {
  right: 1em;
}
