.iconCommonList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 1%;
}

.iconCommonItem {
  width: 49%;
  display: block;
  text-align: center;
}
@media print, screen and (min-width: 768px) {
  .iconCommonItem {
    width: 20%;
  }
}
.iconCommonItem a {
  width: 100%;
  display: flex;
  gap: 0.5em;
  align-items: flex-end;
  justify-content: center;
}
.iconCommonItem a:hover {
  opacity: 0.5;
}
.iconCommonItem > span {
  font-size: 0.8em;
  margin-bottom: 0.3em;
  display: block;
}
.iconCommonItem > span + span {
  color: #fff;
}
.iconCommonItem a img:nth-child(1) {
  width: auto;
  height: 1em;
}
.iconCommonItem a img:nth-child(2) {
  width: auto;
  height: 2em;
}
.iconCommonItem a img:nth-child(3) {
  width: auto;
  height: 3em;
}
